body {
  font-family: sans-serif;
  background-color: black;
}

#game_screen {
  background: url("background.png");
  background-size: 400px 600px;
  /* background-position: 10px 10px; */
  background-repeat: no-repeat;
}
